<style>
    #content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
    }

    h1 {
        margin: 2rem 0;
    }
</style>


<div id="content">
    <h1>About</h1>
    <p>This App was created by TsilaAllaoui, it's using ASP .NET EntityFramework MVC architecture.</p>
    <p>This page is for educational purpose only. All medicine representated here are not representative of the real
        world.
    </p>
</div>
