@model List<Medicine>

<style>
    h1 {
        margin: 2rem 0;
    }

    #list-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .medicine-container {
        display: flex;
        flex-direction: column;
        width: 350px;
        border-radius: 5px;
        box-shadow: -1px 2px 6px 2px rgba(152, 150, 150, 0.53);
    }

    .medicine-container>svg {
        border-radius: 5px 5px 0 0;
        width: 100%;
        user-select: none;
    }

    .info {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 0 1rem;
        padding-top: 15px;
        justify-content: space-between;
    }

    .info>p {
        font-weight: 600;
        user-select: none;
        width: 200px;
    }

    button {
        border-radius: 5px;
        border: none;
        transition: transform 250ms;
        cursor: pointer;
    }

    button:hover {
        transform: translateY(-2px);
    }

    .image {
        height: 200px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px 5px 0 0;
    }

    button>a {
        text-decoration: unset;
        color: white;
    }

    #header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    #header>a {
        height: 40px;
        width: 75px;
        background-color: green;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
    }

    #header>a:hover {
        transform: none;
        box-shadow: 0 0 5px green;
    }

    a {
        text-decoration: none;
    }
</style>

<div id="header">
    <h1>Medicines</h1>
    <a asp-controller="Medicine" asp-action="Create">Add</a>
</div>
<div id="list-container">
    @foreach (var medicine in Model)
    {
        <div class="medicine-container">
            @if (medicine.Image == "")
            {
                <div class="image" style="background-image: url(https://placehold.co/600x400)"></div>
            }
            else
            {
                <div class="image" style="background-image: url(@medicine.Image)"></div>
            }
            <div class=" info">
                <p>@medicine.Name</p>
                <div>
                    <div>
                        <a id=" view-button" asp-controller="Medicine" asp-action="Details" asp-route-id="@medicine.Id">
                            <button>
                                View
                            </button>
                        </a>
                        <a id="view-button" asp-controller="Medicine" asp-action="Edit" asp-route-id="@medicine.Id">
                            <button>
                                Edit
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>